@import "../../styles/fonts";
@import "../../styles/variables";


.contact-cointainer {

  display: flex;
  flex-direction: wrap;
  justify-content: center;
  text-align: center;
}

.contact-box-txt{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  z-index: 1;

  h1 {
    font-family: $fontOpensans;;
    text-align: center;
    color: $fontsColor;
    font-weight: normal;
  }

}
.contact-box-img{
  flex: 1;

}
.contact-img-one {
  width: 200%;
  opacity: 0.5;

}


.form {
  border: none;
  border-bottom: 2px solid red;
}