@import "../../styles/fonts";
@import "../../styles/variables";


.error {
  color: red;
  font-size: 14px;

}


.contact-cointainer {

  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.contact-box-txt {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  z-index: 1;

  h1 {
    font-family: $fontOpensans;;
    text-align: center;
    color: $fontsColor;
    font-weight: normal;
  }

}

.contact-box-img {
  flex: 1;

}

.contact-img-one {
  width: 200%;
  opacity: 0.5;

}


.contact-form-names {
  display: flex;
  flex-direction: row;

}

input {
  font-size: 16px;
  color: $fontsColorlighter ;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid black;
  margin-top: 10px;
}

input:focus {
  outline: 1px solid $colorYellow;
}

textarea {
  font-size: 16px;
  color: $fontsColorlighter;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid black;
  margin-top: 10px;
  height: 100px;
}

textarea:focus {
  outline: 1px solid $colorYellow;
}

.contact-form-label-txt {
  margin: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 20px;
}

.contact-form-label {
  margin: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 20px;
}


.contact-form-label-txt {
  margin: 10px;
  width: 445px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 20px;;
}

.contact-btn {
  width: 200px;
  border: 1px solid black;
  background-color: transparent;
  padding: 10px;
  margin: 10px;
  font-size: 19px;
  color: $fontsColor;
  float: right;
}

.contact-btn:hover {
  border: 1px solid transparent;
  outline: 1px solid $colorYellow;
  color: $fontsColorlighter;
}

.contact-btn:focus {
  border: 1px solid transparent;
  outline: 1px solid $colorYellow;
  color: $fontsColorlighter;
}

